<div class="gl-content-div">
    <div href="#" class="gl-content-title"> > Dashboard</div>

    <div class="gl-cards-container">
        <div class="gl-card">
            <div class="gl-card-title">
                <span >Users</span>
            </div>
            <div class="gl-card-count">
                <span>{{totalUsers}}</span>
            </div>
        </div>
        <div class="gl-card">
            <div class="gl-card-title">
                <span >Users</span>
            </div>
            <div class="gl-card-count">
                <span>100</span>
            </div>
        </div>
        <div class="gl-card">
            <div class="gl-card-title">
                <span >Users</span>
            </div>
            <div class="gl-card-count">
                <span>100</span>
            </div>
        </div>
    </div>
    
</div>
